# Dictionary
##### Ways to create DIctionary

In [46]:
## Dictionary
grades = {1,2,3,4,5,6,7}

print ("grades dictionary :",grades,"\n\n")
dict1= grades ## THis is a pointer; IF grades is modified , dict1 will be modified
print ("Dict 1 copied over from grades dictionary:",dict1,"\n\n")

## Modify grades by adding 3 new values
grades = {25,33,45}

print ("add new items to grades dictionary",grades,"\n\n")
print ("Dict 1 after adding new itesm to grades dictionary:",dict1,"\n\n")


dict2=dict1.copy() ## THis is a new copy of dict1 ; no impact if any chnage is done to dict1
print ("dict 2 copied over from dict 1:",dict2,"\n\n")

grades dictionary : {1, 2, 3, 4, 5, 6, 7}


Dict 1 copied over from grades dictionary: {1, 2, 3, 4, 5, 6, 7}


add new items to grades dictionary {25, 45, 33}


Dict 1 after adding new itesm to grades dictionary: {1, 2, 3, 4, 5, 6, 7}


dict 2 copied over from dict 1: {1, 2, 3, 4, 5, 6, 7}

# Data FRame using Python
##### A Sample script to understand the basics of Data Frames, loc and iloc functionality

In [19]:
import pandas as pd
myDict={"EmpNo":1,"EmpName":"vee kay","EmpDept":25,"EmpSalary":12323.23,"EmpDeductions":4343.11}
print (myDict)
##myDFrame=pd.DataFrame(myDict)
print ("Emp NAMe :", myDict["EmpName"])
print ("Dept : " , myDict["EmpDept"])
print ("Emp No Value :", myDict.get("EmpNo"))
print ("Get COlumn NAme for a given Value : ", myDict.get("25"))

{'EmpNo': 1, 'EmpName': 'vee kay', 'EmpDept': 25, 'EmpSalary': 12323.23, 'EmpDeductions': 4343.11}
Emp NAMe : vee kay
Dept :  25
Emp No Value : 1
Get COlumn NAme for a given Value :  None

In [24]:
###Retrieve KEys of the DIctionary
print ("Dict KEys :",myDict.keys())
## GEt values  of the dictionary
print ("KEy Values :",myDict.values())

Dict KEys : dict_keys(['EmpNo', 'EmpName', 'EmpDept', 'EmpSalary', 'EmpDeductions'])
KEy Values : dict_values([1, 'vee kay', 25, 12323.23, 4343.11])

In [49]:
## DIct to Dataframes
import numpy as np
import pandas as pd


newDict = {'EmpNo':[1,2,3,4,5],
           'EmpNAme':['john','pete','harry','kumar','shiny'],
           'EmpDept':[10,20,40,30,20],
           'EmpSalary':[23434.12,8980.90,3233.13,9867.67,6577.23],
           'EmpDeductions':[323.34,446.1,123.3,98.90,45.45]
          }

## LEngth of Dictionary
print ("LEngth of the DIctionary :",len(newDict),"\n\n")

df = pd.DataFrame(newDict)
print("My Data Frame : \n", df,"\n\n")

LEngth of the DIctionary : 5


My Data Frame :
    EmpNo EmpNAme  EmpDept  EmpSalary  EmpDeductions
0      1    john       10   23434.12         323.34
1      2    pete       20    8980.90         446.10
2      3   harry       40    3233.13         123.30
3      4   kumar       30    9867.67          98.90
4      5   shiny       20    6577.23          45.45

In [59]:
### Retrieve out of Data Froma using basic methods
### ALl rows and COlumns START with a INDEX "0"
## THis will retrieve 5 rows but filter/skip by 2 rows - rows 1,3,5 -- odd rows will be displayed; Note
## "0",  "7" within brackets are INDICES and NOT Column values; 
 
df[0:7:2]

## THis will retrieve 5 rows but filter/skip by 2 rows - rows 1,3,5 -- odd rows will be displayed; Note
df[0:7:3]

   EmpNo EmpNAme  EmpDept  EmpSalary  EmpDeductions
0      1    john       10   23434.12         323.34
3      4   kumar       30    9867.67          98.90

In [78]:
## Retrieve out of Data Frame using ILOC MEthod
print ("complete Data Frame for reference : \n\n",df,"\n\n=======================\n\n")
print ("column 1 and row 1 :\n\n", df.iloc[0:1,0:1])
print ("\n\n=======================\n\n")
print ("columns (1,2) and Row(1,2) :\n\n", df.iloc[0:2,0:2])
print ("\n\n=======================\n\n")

print ("columns (1,3) and Row(1,3) :\n\n", df.iloc[0:3,0:3])
print ("\n\n=======================\n\n")

print ("columns (1,4) and Row(1,4) :\n\n", df.iloc[0:4,0:4])
print ("\n\n=======================\n\n")

print ("columns (1,5) and Row(1,5) :\n\n", df.iloc[0:5,0:5])
print ("\n\n=======================\n\n")

print ("All Rows, Skipping column by 1 :\n\n", df.iloc[0:5,0:5:2])

print ("All Columns , Skip ROW by 1 :\n\n", df.iloc[0:5:2,0:5])

complete Data Frame for reference :

    EmpNo EmpNAme  EmpDept  EmpSalary  EmpDeductions
0      1    john       10   23434.12         323.34
1      2    pete       20    8980.90         446.10
2      3   harry       40    3233.13         123.30
3      4   kumar       30    9867.67          98.90
4      5   shiny       20    6577.23          45.45

=======================


column 1 and row 1 :

    EmpNo
0      1


=======================


columns (1,2) and Row(1,2) :

    EmpNo EmpNAme
0      1    john
1      2    pete


=======================


columns (1,3) and Row(1,3) :

    EmpNo EmpNAme  EmpDept
0      1    john       10
1      2    pete       20
2      3   harry       40


=======================


columns (1,4) and Row(1,4) :

    EmpNo EmpNAme  EmpDept  EmpSalary
0      1    john       10   23434.12
1      2    pete       20    8980.90
2      3   harry       40    3233.13
3      4   kumar       30    9867.67


=======================


columns (1,5) and Row(1,5) :

    EmpNo EmpNAme  EmpDept  EmpSalary  EmpDeductions
0      1    john       10   23434.12         323.34
1      2    pete       20    8980.90         446.10
2      3   harry       40    3233.13         123.30
3      4   kumar       30    9867.67          98.90
4      5   shiny       20    6577.23          45.45


=======================


All Rows, Skipping column by 1 :

    EmpNo  EmpDept  EmpDeductions
0      1       10         323.34
1      2       20         446.10
2      3       40         123.30
3      4       30          98.90
4      5       20          45.45
All Columns , Skip ROW by 1 :

    EmpNo EmpNAme  EmpDept  EmpSalary  EmpDeductions
0      1    john       10   23434.12         323.34
2      3   harry       40    3233.13         123.30
4      5   shiny       20    6577.23          45.45

In [101]:
## Retrieve out of Data Frame using LOC MEthod
print ("complete Data Frame for reference : \n\n",df,"\n\n=======================\n\n")
print ("ONly 1st Row\n\n",df.loc[0],"\n\n")
print ("ONly 1st 2 Rows\n\n",df.loc[0:1],"\n\n")
print ("ALL Rows\n\n",df.loc[:],"\n\n")
print ("1 ROW & EMp NO & Emo NAme columsn only\n\n",df.loc[0,['EmpNo','EmpNAme']])
print ("1st 2 ROWs & EMp NO & Emo NAme columsn only\n\n",df.loc[0:1,['EmpNo','EmpNAme']])
print ("All ROWs & EMp NO & Emo NAme columsn only\n\n",df.loc[:,['EmpNo','EmpNAme']])

complete Data Frame for reference :

    EmpNo EmpNAme  EmpDept  EmpSalary  EmpDeductions
0      1    john       10   23434.12         323.34
1      2    pete       20    8980.90         446.10
2      3   harry       40    3233.13         123.30
3      4   kumar       30    9867.67          98.90
4      5   shiny       20    6577.23          45.45

=======================


ONly 1st Row

 EmpNo                   1
EmpNAme              john
EmpDept                10
EmpSalary        23434.12
EmpDeductions      323.34
Name: 0, dtype: object


ONly 1st 2 Rows

    EmpNo EmpNAme  EmpDept  EmpSalary  EmpDeductions
0      1    john       10   23434.12         323.34
1      2    pete       20    8980.90         446.10


ALL Rows

    EmpNo EmpNAme  EmpDept  EmpSalary  EmpDeductions
0      1    john       10   23434.12         323.34
1      2    pete       20    8980.90         446.10
2      3   harry       40    3233.13         123.30
3      4   kumar       30    9867.67          98.90
4      5   shiny       20    6577.23          45.45


1 ROW & EMp NO & Emo NAme columsn only

 EmpNo         1
EmpNAme    john
Name: 0, dtype: object
1st 2 ROWs & EMp NO & Emo NAme columsn only

    EmpNo EmpNAme
0      1    john
1      2    pete
All ROWs & EMp NO & Emo NAme columsn only

    EmpNo EmpNAme
0      1    john
1      2    pete
2      3   harry
3      4   kumar
4      5   shiny